In [2]:
import pandas as pd
pd.__version__

'2.2.3'

In [3]:
df = pd.read_csv("yellow-tripdata-2022-01.csv", nrows=100)

In [4]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40.000000,2022-01-01 00:53:29.000000,2,3.80,1,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43.000000,2022-01-01 00:42:07.000000,1,2.10,1,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21.000000,2022-01-01 01:02:19.000000,1,0.97,1,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21.000000,2022-01-01 00:35:23.000000,1,1.09,1,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48.000000,2022-01-01 01:14:20.000000,1,4.30,1,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,2022-01-01 00:32:27.000000,2022-01-01 00:39:38.000000,3,1.00,1,N,239,238,1,6.5,3.0,0.5,2.05,0.0,0.3,12.35,2.5,0.0
96,1,2022-01-01 00:43:15.000000,2022-01-01 01:01:35.000000,1,7.60,1,N,238,153,1,24.0,3.0,0.5,0.00,0.0,0.3,27.80,2.5,0.0
97,2,2022-01-01 00:15:35.000000,2022-01-01 00:20:49.000000,2,0.88,1,N,233,229,2,5.5,0.5,0.5,0.00,0.0,0.3,9.30,2.5,0.0
98,2,2022-01-01 00:32:24.000000,2022-01-01 00:34:54.000000,1,0.63,1,N,233,137,1,4.0,0.5,0.5,1.00,0.0,0.3,8.80,2.5,0.0
99,2,2022-01-01 00:40:45.000000,2022-01-01 00:47:22.000000,1,1.14,1,N,170,229,1,6.5,0.5,0.5,2.06,0.0,0.3,12.36,2.5,0.0

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")
engine.connect()

In [7]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [9]:
df_iterator = pd.read_csv("yellow-tripdata-2022-01.csv", iterator=True, chunksize=100000)

In [10]:
df_iterator

In [12]:
df = next(df_iterator)

In [14]:
len(df)

100000

In [16]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [17]:
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [18]:
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

CPU times: total: 11.1 s
Wall time: 19 s

1000